$wdith: 18px;

.list {
  display: flex;
  flex-wrap: wrap;
  width: 280px;
  padding: 0;
  margin: 0;
  list-style: none;
  .item {
    width: $wdith;
    height: $wdith;
    margin: 5px;
    background-size: contain;
    cursor: pointer;
  }
}
